configuration {
	font: "Inconsolata 14";
	show-icons: true;
	icon-theme: "numix-circle";
	display-drun: "drun";
}

//@theme "~/.config/rofi/material.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
@theme "/usr/share/rofi/themes/glue_pro_blue.rasi"
