/*Dracula theme based on the Purple official rofi theme*/

@theme "theme"

configuration {
  combi-modes:     [drun,window];
  modes :          "drun,window";
  // modi: "drun,session:rofi-session,window";
  disable-history: false;

  yoffset : -150;

  show-icons:      true;
  display-drun:    "";
  display-window:  "win";
  display-run:     "run";
  display-ssh:     "ssh";
  display-combi:   "combi";
  display-keys:    "key";
}
